<header>
  <nav class = "navbar navbar-expand-md navbar-dark bg-dark">
    <div><a href = "https://www.github.com/Vladimir1203" class = "navbar-brand">CVBuilder</a></div>

    <ul class = "navbar-nav">
      <li><a routerLink = "/home" class = "nav-link">Home</a></li>
      <li><a routerLink = "/templates" class = "nav-link">Templates</a></li>
    </ul>

    <ul class = "navbar-nav navbar-collapse justify-content-end">
      <li><a routerLink = "/login" class = "nav-link">Login</a></li>
      <li><a routerLink = "/logout" class = "nav-link">Logout</a></li>
    </ul>
  </nav>
</header>
<br><br>
