<link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.9.95/css/materialdesignicons.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha256-Zr3vByTlMGQhvMfgkQ5BtWRSKBGa2QlspKYJnkjZTmo=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4=" crossorigin="anonymous" />

<div class="row">
  <div class="col-lg-12">
    <h3 class="text-dark mt-5">Fill free to choose your <span class="highlight">sections</span> and <span class="highlight">fields</span> manually! :)</h3>
  </div>
</div>

<div class = "row">
<div class = "column">
  <div class="form-group app-label">
    <br><br>
    <label class="text-muted">Create a CV with the profile picture</label>
    <br>
  </div>

  <mat-checkbox color="primary" [(ngModel)]="profilePicture" [ngModelOptions]="{standalone: true}" class = "check_custom"></mat-checkbox>
</div>
  <div class="form-group app-label make-distance" >
    <br><br>
    <label class="text-muted">Create a CV with the profile picture</label>
    <br>
  </div>
</div>

<!--sections-->
<div *ngFor="let section of templateSec">
  <br><br><br>
<div class="row">
  <div class="col-md-4">
    <div class="form-group app-label">
      <label class="text-muted">Name of the section</label>
      <input [(ngModel)]="section.name" [ngModelOptions]="{standalone: true}" type="text" class="form-control resume" placeholder="">
    </div>
  </div>
  <div class="spacing"></div>
  <div class="form-group app-label">
    <label class="text-muted">Repeatable section</label>
    <br>
  </div>

  <mat-checkbox color="primary" [(ngModel)]="section.repeatable" [ngModelOptions]="{standalone: true}" class = "check_custom"></mat-checkbox>

  <div class="col-lg-12">
    <div class="job-detail mt-2 p-4">
      <div class="custom-form">
        <form>
        <div class = "row" *ngFor="let o of section.optionals ">
          <div class="col-md-4">
            <div class="form-group app-label">
              <label class="text-muted">Data type</label>
              <div class="form-button">
                <select [(ngModel)]="o.optionalType" [ngModelOptions]="{standalone: true}" class="nice-select">
                  <option *ngFor = "let i of dataTypes">{{i}}</option>
                </select>

              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group app-label">
              <label class="text-muted">Field name</label>
              <input [(ngModel)]="o.optionalColumn" [ngModelOptions]="{standalone: true}" type="text" class="form-control resume" placeholder="">
            </div>
          </div>


        </div>


          <div class="col-md-4">
            <div class="form-group app-label">
              <br>
              <button color="primary" class="btn btn-default" (click)="addField(templateSec.indexOf(section))">+</button>
            </div>
          </div>


          <div>
            <button *ngIf = "templateSec.length-1 === templateSec.indexOf(section)" class="btn btn_down" (click)="addNewSection(templateSec.indexOf(section))">Add new section</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>


</div>

<br><br><br><br>


<div class="col-md-4">
  <div class="form-group app-label">
    <br>
    <button class="btn btn-default" (click)="saveConfiguration()">Save your configuration</button>
  </div>
  <br><br>
</div>
