<div fxLayoutAlign="center center" fxFlexFill class ="main-div">
  <mat-card fxFlex="80">
    <mat-toolbar color ="primary">Registration Page</mat-toolbar>
    <form [formGroup]="registerForm" fxLayoutAlign="stretch" fxLayout="column" class = "login-form">
      <mat-form-field>
        <input matInput placeholder="Name:" [formControlName]="'name'">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Surname:" [formControlName]="'surname'">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Username:" [formControlName]="'username'">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email:" [formControlName]="'email'">
      </mat-form-field>
      <mat-form-field>
        <input matInput type = 'password' placeholder="Password:" [formControlName]="'password'">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Address:" [formControlName]="'address'">
      </mat-form-field>
      <div>
        <button type="button" class="btn btn-link" (click) = "onClickingRegister()">Register</button>
      </div>
    </form>
  </mat-card>
</div>
