<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<form [formGroup]="checkoutForm">
  <div class="container" id = "main-container" >
    <div class="row">
      <div *ngFor="let template of templates" class="col-md-12 col-xl-6">
        <div class="card m-b-40">
          <div class="card-body row">
            <div class="col-8">
              <img src="{{template?.imageUrl}}" alt="" class="img-fluid w-80">
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
</form>
<div><br><br></div>
<div class = "row goToRight">
  <div>
    <button  class="btn btn-primary previewFirst" (click)="createBasicCV()">Create basic Template</button>
  </div>
  <div></div>
  <div>
    <button  class="btn btn-primary preview" (click)="createCustomCV()">Create custom Template</button>
  </div>
</div>
