.example-stepper {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
.row{
  padding: 10px;
}

.card{
  margin: 8px;
}

.material-icons{
  font-size: 30px;
}

button span{
  font-size: 22px;
}

.action-buttons button{
  margin : 5px;
}

.preview{
  margin-left: 15px;
}

.previewFirst{
  margin-left: 14px;
}
