<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<div class="container bootstrap snippets bootdey">
  <section id="services" class="current">
    <div class="services-top">
      <div class="container bootstrap snippets bootdey">
        <div class="row text-center">
          <div class="col-sm-12 col-md-12 col-md-12">
            <h2>Create your CV with this web app</h2>
            <h2 style="font-size: 60px;line-height: 60px;margin-bottom: 20px;font-weight: 900;">CV Builder</h2>
            <p>Welcome! We are <span class="highlight">here</span> for <span class="highlight">you.</span> We provide these services to you with a smile.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-1 col-sm-12 col-md-12 col-md-10">
            <div class="services-list">
              <div class="row">
                <div class="col-sm-6 col-md-4 col-md-4">
                  <div class="service-block" style="visibility: visible;">
                    <div class="ico fa fa-magic highlight"></div>
                    <div class="text-block">
                      <div class="name">Interaction with templates</div>
                      <div class="text">You can create your own template. Also, we provide to you a service for creating basic template with default sections. </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-md-4">
                  <div class="service-block" style="visibility: visible;">
                    <div class="ico fa fa-code highlight"></div>
                    <div class="text-block">
                      <div class="name">Choosing sections</div>
                      <div class="text">Besides our default sections with CVBuilder you can create your own section.</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-md-4">
                  <div class="service-block" style="visibility: visible;">
                    <div class="ico fa fa-pencil highlight"></div>
                    <div class="text-block">
                      <div class="name">Adding fields</div>
                      <div class="text">There is a service which provides creating your customized fields. You can choose the key-value pairs for your fields.</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-md-4">
                  <div class="service-block" style="visibility: visible;">
                    <div class="ico fa fa-bullhorn highlight"></div>
                    <div class="text-block">
                      <div class="name">Create your CV in PDF format</div>
                      <div class="text">With our application you can easy create and download your CV in pdf format.</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-md-4">
                  <div class="service-block" style="visibility: visible;">
                    <div class="ico fa fa-eye highlight"></div>
                    <div class="text-block">
                      <div class="name">Become premium user</div>
                      <div class="text">You have additional option to become premium user if you pay 9.99euros for our application. If you choose to pay, you will have some additional tools.</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-md-4">
                  <div class="service-block" style="visibility: visible;">
                    <div class="ico fa fa-umbrella highlight"></div>
                    <div class="text-block">
                      <div class="name">Why you should choose our app?</div>
                      <div class="text">Our main goal is to make user happy with his awesome CV. Try it for free and if you like it, you can choose to pay and enjoy many additional tools. Have fun!</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
